In [2]:
import pandas as pd 
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
dataset=pd.read_csv('Tesla.csv')

In [5]:
dataset.head(25)

         Date       Open       High        Low      Close    Volume  Adj Close
0   6/29/2010  19.000000  25.000000  17.540001  23.889999  18766300  23.889999
1   6/30/2010  25.790001  30.420000  23.299999  23.830000  17187100  23.830000
2    7/1/2010  25.000000  25.920000  20.270000  21.959999   8218800  21.959999
3    7/2/2010  23.000000  23.100000  18.709999  19.200001   5139800  19.200001
4    7/6/2010  20.000000  20.000000  15.830000  16.110001   6866900  16.110001
5    7/7/2010  16.400000  16.629999  14.980000  15.800000   6921700  15.800000
6    7/8/2010  16.139999  17.520000  15.570000  17.459999   7711400  17.459999
7    7/9/2010  17.580000  17.900000  16.549999  17.400000   4050600  17.400000
8   7/12/2010  17.950001  18.070000  17.000000  17.049999   2202500  17.049999
9   7/13/2010  17.389999  18.639999  16.900000  18.139999   2680100  18.139999
10  7/14/2010  17.940001  20.150000  17.760000  19.840000   4195200  19.840000
11  7/15/2010  19.940001  21.500000  19.000000  19.889999   3739800  19.889999
12  7/16/2010  20.700001  21.299999  20.049999  20.639999   2621300  20.639999
13  7/19/2010  21.370001  22.250000  20.920000  21.910000   2486500  21.910000
14  7/20/2010  21.850000  21.850000  20.049999  20.299999   1825300  20.299999
15  7/21/2010  20.660000  20.900000  19.500000  20.219999   1252500  20.219999
16  7/22/2010  20.500000  21.250000  20.370001  21.000000    957800  21.000000
17  7/23/2010  21.190001  21.559999  21.059999  21.290001    653600  21.290001
18  7/26/2010  21.500000  21.500000  20.299999  20.950001    922200  20.950001
19  7/27/2010  20.910000  21.180000  20.260000  20.549999    619700  20.549999
20  7/28/2010  20.549999  20.900000  20.510000  20.719999    467200  20.719999
21  7/29/2010  20.770000  20.879999  20.000000  20.350000    616000  20.350000
22  7/30/2010  20.200001  20.440001  19.549999  19.940001    426900  19.940001
23   8/2/2010  20.500000  20.969999  20.330000  20.920000    718100  20.920000
24   8/3/2010  21.000000  21.950001  20.820000  21.950001   1230500  21.950001

In [6]:
x = dataset[['Open','High','Low','Volume']].values
y = dataset['Close'].values

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
regressor=LinearRegression()

In [9]:
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
print(regressor.coef_)

[-5.71183458e-01  8.54232795e-01  7.16090185e-01 -3.82356170e-08]

In [11]:
print(regressor.intercept_)

0.02967901364672798

In [12]:
predicted=regressor.predict(x_test)

In [17]:
dframe = pd.DataFrame({'Actual':y_test.flatten(),'predicted':predicted.flatten()})

In [18]:
dframe

         Actual   predicted
0     30.090000   31.286019
1    258.000000  255.833139
2    204.990005  202.604123
3     17.459999   16.631611
4    263.820007  265.432417
5     34.099998   34.036534
6     28.980000   28.006774
7     35.000000   34.870565
8     28.490000   28.216008
9    246.720001  243.620346
10   206.419998  203.923467
11   139.339996  140.784830
12   198.690002  200.661122
13   183.770004  185.098406
14   219.610001  220.622040
15   266.149994  267.041959
16    43.930000   45.031831
17    36.000000   35.958933
18   219.460007  220.325817
19   222.600006  221.879049
20    22.750000   22.884091
21   121.379997  119.466495
22   203.100006  205.353774
23    27.709999   26.896808
24    35.330002   34.777585
25   192.179993  193.125447
26    32.599998   33.220006
27    19.150000   19.203206
28   230.289993  227.334327
29   221.089996  219.179217
..          ...         ...
309   91.500000   89.800286
310   26.100000   25.859986
311  232.500000  235.714986
312   27.799999   27.818148
313  198.149994  199.572929
314  203.339996  205.076734
315   83.239998   85.865600
316  222.619995  223.412717
317   22.790001   24.155673
318   27.879999   27.742911
319   25.580000   25.902414
320  246.600006  247.624136
321  174.419998  173.452702
322   29.400000   29.223781
323   31.840000   31.443218
324  267.869995  267.641623
325   24.120001   24.223511
326   22.620001   23.121897
327  208.960007  212.880803
328  127.279999  128.019086
329  205.820007  203.957261
330  104.680000  105.576049
331   26.190001   26.519288
332   28.889999   29.031787
333   24.020000   24.132321
334  183.559998  184.494787
335  241.800003  237.835078
336  164.220001  167.310263
337   29.350000   29.354180
338  237.190002  236.669303

[339 rows x 2 columns]